// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prev_comments {
  width: 250px;
  height: 30px;
}

.field textarea {
  width: 330px;
  height: 50px;
}

.ajaxComments{
  margin-top: 10px;
}