// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

@font-face {
  font-family: vly;
  src: url(vanessalovesyou.ttf);
  font-weight:600;
}

.row{
  padding-left: 5%;
}

.brand {
  font-family: vly;
  color: #CB2027 !important;
}

.pin{
  float: left;
  overflow: hidden;
  margin-right: 1%;
  margin-bottom: 1em;
  width: 470px;
}

.img-polaroid{
  -webkit-box-shadow: 1px 1px 1px 1px ;
  box-shadow: 1px 1px 1px 1px ;
  float: left;
  width: 450px;
  float: left;
  margin-bottom: 2%;
}

.img-polaroid td{
  margin: 20px;
}

.text{
  padding: 2%;
}

#title{
  text-align: center;
  padding: 2%;
}

.adipoli-wrapper
  {
  margin:auto;
  position:relative;
  display: inline-block;
}
.adipoli-wrapper>img
  {
  position: absolute;
  z-index: 1;
}
.adipoli-before
  {
  position: absolute;
  z-index: 5;
}
.adipoli-after
  {
  position: absolute;
  z-index: 10;
}
.adipoli-slice {
  display:block;
  position:absolute;
  z-index:15;
  height:100%;
}
.adipoli-box
  {
  display:block;
  position:absolute;
  z-index:15;
}
